<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理者画面</title>
    <style>
        .tab {
            text-align: center;
            margin-top: 50px;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button:hover {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body>

<div class="tab">
    <h1>{{ username }} の管理者画面</h1> <button onclick="window.location.href='{{ url_for('quiz.genre') }}'">テストを実施</button>
    <button onclick="window.location.href='{{ url_for('createquiz.editQuiz') }}'">テスト一覧・編集</button>
    <form action="{{ url_for('createquiz.createQuiz2') }}" method="post" style="display:inline;">
        <button type="submit">テスト作成</button>
    </form>
    <button onclick="window.location.href='{{ url_for('admin.view') }}'">テスト結果</button>
    <button onclick="window.location.href='{{ url_for('auth.logout') }}'">ログアウト</button>
</div>

</body>
</html>